{% extends 'website/base.html' %}
{% block content %}
    <div class="heading-text">
        Update Profile
    </div>
    <div class="form-style-5">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <input type="text" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}