{% extends 'website/base.html' %}
{% block content %}
    <div class="container padded-container">
        <form class="form-login" method="post" action="#">
            {% csrf_token %}
            <div class="form-log-in-with-email">
                <div class="form-white-background">
                    <div class="form-title-row">
                        <h1>Update Profile</h1>
                    </div>
                    {% for field in form %}
                        {% if "Fcm" in field.label_tag %}
                            <div class="input-group">
                                {{ field.as_hidden }}
                            </div>
                        {% elif "Gender" in field.label_tag %}
                             <div class="form-row">
                                <label>
                                    <span>Gender</span>
                                    <select name="gender" id="id_gender">
                                        <option selected>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </label>
                            </div>
                        {% elif "Dob" in field.label_tag %}
                             <div class="form-row">
                                <label>
                                    <span>{{ field.label_tag }}</span>
                                    <input type="date" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="Enter {{ field.label }}">
                                </label>
                            </div>
                        {% else %}
                            <div class="form-row">
                                <label>
                                    <span>{{ field.label_tag }}</span>
                                    <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="Enter {{ field.label }}">
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-row">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}